# ==========================
# Gradle
# ==========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
out/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Eclipse
# ==========================
.project
.classpath
.settings/
bin/

# ==========================
# NetBeans
# ==========================
nbproject/private/
nbbuild/
dist/
nbdist/

# ==========================
# Java
# ==========================
*.class
*.log
*.jar
*.war
*.ear

# Não ignore o wrapper do Gradle
!gradle/wrapper/gradle-wrapper.jar

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Arquivos de ambiente
# ==========================
.env
.env.*
!.env.example